<h2>Course List</h2>

<div class="form-group row">
  <label class="col-sm-2 col-from-label">Filter By</label>
  <div class="col-sm-1">
    <input [(ngModel)]=filter class="form-control">

  </div>
</div>

<table class="table table-striped">
  <thead>
    <th>Image</th>
    <th>Name</th>
    <th>Duration</th>
    <th>Code</th>
    <th>ReleaseDate</th>
    <th>Rating</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr *ngFor="let course of filteredCourses">
      <td><img [src]="course.imageUrl"></td>
      <td>{{ course.name }}</td>
      <td>{{ course.duration }}</td>
      <td>{{ course.code | uppercase | replace: '-' : ''}}</td>
      <td>{{ course.releaseDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{ course.rating }}</td>
      <td><app-star></app-star></td>
    </tr>
  </tbody>
</table>

